body {
   background-color: white;
}

#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#articles h2 {
  color: white;
}

.headline:hover {
  cursor: pointer;
}

.headline {
  font-size: 24px;
}

.summary {
  font-size: 16px;
}

#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
